.item_card {
  width: 100%;
  padding: 0 0 20px;
  overflow: hidden;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .body {
    height: 100px;
    padding: 10px;
  }

  .actions {
    display: flex;
    justify-content: center;

    span {
      width: 50px;
      line-height: 30px;
      text-align: center;
    }

    button {
      height: 30px;
      width: 30px;
      color: #f4f6ff;
      background-color: #10375c;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        // background-color: #f4f6ff;
        // color: #10375c;
        cursor: not-allowed;
      }
    }
  }
}
