.footer {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  color: #f4f6ff;
  background-color: #10375c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;

  transition: bottom 0.5s ease-out;
  position: fixed;
  bottom: -100%;

  &[data-show='true'] {
    bottom: 0;
  }

  .total_price {
    font-size: 1.5rem;
  }

  .qr {
    $size: 30px;
    width: $size;
    height: $size;
    color: #f4f6ff;
    cursor: pointer;
  }
}
